# Misc
release/
build
go
build_bc
.DS_Store
package

# Binaries
BitCurrency.dmg
BitCurrency-OSX.dmg
BitCurrency-Qt.app
BitCurrency-Qt.exe
bitcurrencyd
bitcurrency-qt

# Files created by qmake
qrc_bitcoin.cpp
Makefile
Makefile.Debug
Makefile.Release
.qmake.stash
bitcurrency-qt_plugin_import.cpp
object_script.bitcurrency-qt.Debug
object_script.bitcurrency-qt.Release
